* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans Devanagari", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #0a0a0a, #3a4452);
}

.calculetor {
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 1rem;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgb(254, 254, 254, 0.8);

}

input {
    width: 320px;
    border: none;
    padding: 20px;
    margin: 10px;
    background-color: transparent;
    font-size: 35px;
    text-align: right;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

input::placeholder {
    color: white;
}

button {
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    box-shadow: 0px 3px 15px rgb(254, 254, 254, 0.8);
    cursor: pointer;
}

.equl{
    background-color: orangered;
}

.opretor{
    color: rgb(255, 191, 0);
}